
<h1 style="font-size:42px; text-align:center; margin-bottom:30px;"><span style="color:RoyalBlue">Assignment: 2 </span> </h1>
<hr>
<h3 style="font-size:42px; text-align:left; margin-bottom:30px;"><span style="color:LightGrey">Name:</span> Maxwell Zhang</h3>

<h3 style="font-size:42px; text-align:left; margin-bottom:30px;"><span style="color:LightGrey">Email:</span> jiangyun.zhang@duke.edu</h3>

<br><hr id="toc">

### Overview...

As you go through the analytic steps, capture the key elements here and use the example table of contents to give the read access to the big idea:
1. [Prepare the problem](#prepare)
2. [Summarize the dataset](#summarize)
3. [Prepare the data](#datarep)
4. [Evaluate the model](#modeleval)
5. [Improve model accuracy](#improve)
6. [Finalize the model](#finalize)


This time, however, you'll be in the driver's seat.
<br><hr>

<span id="prepare"></span>
# 1. Prepare Problem

In [299]:
from __future__ import print_function  # Compatability with Python 3
print( 'Print function ready to serve.' )

Print function ready to serve.

## a) Load libraries

In [373]:
# NumPy for numerical computing
import numpy as np

# Pandas for DataFrames
import pandas as pd
pd.set_option('display.max_columns', 100)

# Matplotlib for visualization
from matplotlib import pyplot as plt
# display plots in the notebook
%matplotlib inline 

# Seaborn for easier visualization
import seaborn as sns

## b) Load dataset

In [374]:
# Load real estate data from CSV
df1 =  pd.read_csv('train.csv')
df2 = pd.read_csv('test.csv')

In [375]:
df2['SalePrice'] = 0

In [376]:
df1.shape

(1460, 81)

In [377]:
df2.shape

(1459, 81)

In [378]:
df = pd.concat([df1,df2])

In [379]:
# Display missing data
df.isnull().sum()

Id                  0
MSSubClass          0
MSZoning            4
LotFrontage       486
LotArea             0
Street              0
Alley            2721
LotShape            0
LandContour         0
Utilities           2
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         1
Exterior2nd         1
MasVnrType         24
MasVnrArea         23
ExterQual           0
ExterCond           0
Foundation          0
                 ...
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         1
TotRmsAbvGrd        0
Functional          2
Fireplaces          0
FireplaceQu      1420
GarageType        157
GarageYrBlt       159
GarageFinish      159
GarageCars          1
GarageArea          1
GarageQual        159
GarageCond        159
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           2909
Fence            2348
MiscFeature      2814
MiscVal             0
MoSold              0
YrSold              0
SaleType            1
SaleCondition       0
SalePrice           0
Length: 81, dtype: int64

In [390]:
index = []
ind = []
for i in range(0,len(list(df))):
    if sum(df.iloc[:,i].isnull())>0:
        index.append(list(df)[i])
        ind.append(i)

index

['MSZoning',
 'Utilities',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'BsmtFullBath',
 'BsmtHalfBath',
 'KitchenQual',
 'Functional',
 'GarageType',
 'GarageFinish',
 'GarageCars',
 'GarageQual',
 'GarageCond',
 'SaleType']

In [391]:
df[index].describe()

       BsmtFullBath  BsmtHalfBath   GarageCars
count   2917.000000   2917.000000  2918.000000
mean       0.429894      0.061364     1.766621
std        0.524736      0.245687     0.761624
min        0.000000      0.000000     0.000000
25%        0.000000      0.000000     1.000000
50%        0.000000      0.000000     2.000000
75%        1.000000      0.000000     2.000000
max        3.000000      2.000000     5.000000

In [392]:
df[index].isnull().sum()

MSZoning          4
Utilities         2
Exterior1st       1
Exterior2nd       1
MasVnrType       24
BsmtQual         81
BsmtCond         82
BsmtExposure     82
BsmtFinType1     79
BsmtFinType2     80
Electrical        1
BsmtFullBath      2
BsmtHalfBath      2
KitchenQual       1
Functional        2
GarageType      157
GarageFinish    159
GarageCars        1
GarageQual      159
GarageCond      159
SaleType          1
dtype: int64

In [383]:
df = df.drop(['Alley','PoolQC','Fence','MiscFeature','FireplaceQu'],axis = 1)


## a) Data Cleaning

In [402]:
df.MasVnrArea.fillna(df['MasVnrArea'].mean(), inplace=True)
df.LotFrontage.fillna(df['LotFrontage'].mean(), inplace=True)
df.GarageYrBlt.fillna(df['GarageYrBlt'].mean(), inplace=True)
df.BsmtFinSF1.fillna(df['BsmtFinSF1'].mean(), inplace=True)
df.BsmtFinSF2.fillna(df['BsmtFinSF2'].mean(), inplace=True)
df.BsmtUnfSF.fillna(df['BsmtUnfSF'].mean(), inplace=True)
df.TotalBsmtSF.fillna(df['TotalBsmtSF'].mean(), inplace=True)
df.GarageArea.fillna(df['GarageArea'].mean(), inplace=True)

# Use mode to replace missing value
df.GarageCars.fillna(int(df['GarageCars'].mode()), inplace=True)
df.BsmtFullBath.fillna(int(df['BsmtFullBath'].mode()), inplace=True)
df.BsmtHalfBath.fillna(int(df['BsmtHalfBath'].mode()), inplace=True)

In [403]:
index = []
ind = []
for i in range(0,len(list(df))):
    if sum(df.iloc[:,i].isnull())>0:
        index.append(list(df)[i])
        ind.append(i)

index

['MSZoning',
 'Utilities',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'KitchenQual',
 'Functional',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'SaleType']

In [404]:
for i in ind:
    df.iloc[:,i].fillna('Missing', inplace=True)

In [405]:
sum(df.isnull().sum())

0

## b) Feature Selection

In [406]:
# Define big house
df['big_house'] = ((df.LotFrontage >= 100) & (df.LotArea >= 8000)).astype(int)

In [407]:
# Display percent of big houses
df.big_house.mean()

0.06748886605001712

In [408]:
# Create indicator feature for year built between 2007 and 2009, inclusive
df['during_recession'] = ((df.YearBuilt >= 2007) & (df.YearBuilt <= 2009)).astype(int)

In [409]:
# Display percent of during recession
df.during_recession.mean()

0.06269270298047276

In [410]:
# Create a property age feature
df['property_age'] = df.YearRemodAdd - df.YearBuilt

## c) Data Transforms

In [411]:
df.describe(include=['object'])

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,Heating,HeatingQC,CentralAir,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
count,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919
unique,6,2,4,4,3,5,3,25,9,8,5,8,6,8,16,17,5,4,5,6,5,5,5,7,7,6,5,2,6,5,8,7,4,6,6,3,10,6
top,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,VinylSd,VinylSd,None,TA,TA,PConc,TA,TA,No,Unf,Unf,GasA,Ex,Y,SBrkr,TA,Typ,Attchd,Unf,TA,TA,Y,WD,Normal
freq,2265,2907,1859,2622,2916,2133,2778,443,2511,2889,2425,1471,2310,2876,1025,1014,1742,1798,2538,1308,1283,2606,1904,851,2493,2874,1493,2723,2671,1492,2717,1723,1230,2604,2654,2641,2525,2402

In [412]:
id = df.Id
df = df.drop('Id',axis = 1)

In [413]:
index2 = []
ind2 = []
for i in range(0,len(df.dtypes[df.dtypes == 'object'].index)):
    if df.describe(include=['object']).iloc[1,i] > 5:
        index2.append(list(df)[i])
        ind2.append(i)

index2

['MSSubClass',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'RoofStyle',
 'MasVnrType',
 'MasVnrArea',
 'ExterQual',
 'BsmtQual',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'TotalBsmtSF',
 'Heating']

## Here is the list we have to deal with.

## Group sparse classes

In [414]:
index2 = index2[1:]
for i in index2:
    class_counts = df.groupby(i).size()
    print(class_counts)
    print(' ')

Utilities
AllPub     2916
Missing       2
NoSeWa        1
dtype: int64

LotConfig
Corner      511
CulDSac     176
FR2          85
FR3          14
Inside     2133
dtype: int64

LandSlope
Gtl    2778
Mod     125
Sev      16
dtype: int64

Condition1
Artery      92
Feedr      164
Norm      2511
PosA        20
PosN        39
RRAe        28
RRAn        50
RRNe         6
RRNn         9
dtype: int64

Condition2
Artery       5
Feedr       13
Norm      2889
PosA         4
PosN         4
RRAe         1
RRAn         1
RRNn         2
dtype: int64

BldgType
1Fam      2425
2fmCon      62
Duplex     109
Twnhs       96
TwnhsE     227
dtype: int64

HouseStyle
1.5Fin     314
1.5Unf      19
1Story    1471
2.5Fin       8
2.5Unf      24
2Story     872
SFoyer      83
SLvl       128
dtype: int64

OverallQual
1       4
2      13
3      40
4     226
5     825
6     731
7     600
8     342
9     107
10     31
dtype: int64

RoofStyle
Flat         20
Gable      2310
Gambrel      22
Hip         551
Mansard      11
Shed          5
dtype: int64

MasVnrType
BrkCmn       25
BrkFace     879
Missing      24
None       1742
Stone       249
dtype: int64

MasVnrArea
0.0       1738
1.0          3
3.0          1
11.0         1
14.0         4
16.0        11
18.0         3
20.0         4
22.0         2
23.0         4
24.0         2
27.0         1
28.0         2
30.0         4
31.0         1
32.0         4
34.0         1
36.0         2
38.0         2
39.0         1
40.0         8
41.0         3
42.0         3
44.0         7
45.0         3
46.0         1
47.0         1
48.0         1
50.0         7
51.0         3
          ...
768.0        1
771.0        1
772.0        1
788.0        1
796.0        1
816.0        1
860.0        1
870.0        1
877.0        1
886.0        1
894.0        1
902.0        1
921.0        1
922.0        1
945.0        1
970.0        1
975.0        1
1031.0       1
1047.0       1
1050.0       1
1095.0       1
1110.0       1
1115.0       1
1129.0       1
1159.0       1
1170.0       1
1224.0       2
1290.0       1
1378.0       1
1600.0       1
Length: 445, dtype: int64

ExterQual
Ex     107
Fa      35
Gd     979
TA    1798
dtype: int64

BsmtQual
Ex          258
Fa           88
Gd         1209
Missing      81
TA         1283
dtype: int64

BsmtExposure
Av          418
Gd          276
Missing      82
Mn          239
No         1904
dtype: int64

BsmtFinType1
ALQ        429
BLQ        269
GLQ        849
LwQ        154
Missing     79
Rec        288
Unf        851
dtype: int64

BsmtFinType2
ALQ          52
BLQ          68
GLQ          34
LwQ          87
Missing      80
Rec         105
Unf        2493
dtype: int64

BsmtFinSF2
0.000000       2571
6.000000          1
12.000000         1
28.000000         1
32.000000         1
35.000000         1
38.000000         1
40.000000         2
41.000000         2
42.000000         2
46.000000         1
48.000000         1
49.582248         1
52.000000         1
60.000000         2
63.000000         1
64.000000         2
66.000000         1
68.000000         2
72.000000         2
76.000000         1
78.000000         1
80.000000         2
81.000000         1
92.000000         1
93.000000         2
95.000000         1
96.000000         2
102.000000        1
105.000000        2
               ...
875.000000        1
884.000000        1
891.000000        1
904.000000        1
906.000000        1
912.000000        1
915.000000        1
955.000000        1
956.000000        1
972.000000        1
981.000000        1
982.000000        1
1020.000000       1
1029.000000       1
1031.000000       1
1037.000000       1
1039.000000       1
1057.000000       1
1061.000000       1
1063.000000       1
1073.000000       1
1080.000000       1
1083.000000       1
1085.000000       1
1120.000000       1
1127.000000       1
1164.000000       1
1393.000000       1
1474.000000       1
1526.000000       1
Length: 273, dtype: int64

TotalBsmtSF
0.0       78
105.0      1
160.0      1
173.0      1
190.0      1
192.0      1
216.0      2
240.0      1
245.0      1
264.0      4
270.0      1
279.0      1
290.0      1
297.0      1
301.0      1
319.0      1
346.0      2
348.0      1
352.0      1
356.0      1
360.0      1
370.0      1
372.0      1
381.0      1
384.0     19
385.0      1
392.0      2
396.0      1
405.0      1
407.0      1
          ..
2200.0     1
2208.0     1
2216.0     1
2217.0     1
2220.0     1
2223.0     1
2271.0     1
2320.0     1
2330.0     1
2392.0     1
2396.0     1
2418.0     1
2444.0     1
2452.0     1
2458.0     1
2461.0     1
2492.0     1
2524.0     1
2535.0     1
2552.0     1
2630.0     1
2633.0     1
2660.0     1
2846.0     1
3094.0     1
3138.0     1
3200.0     1
3206.0     1
5095.0     1
6110.0     1
Length: 1059, dtype: int64

Heating
Floor       1
GasA     2874
GasW       27
Grav        9
OthW        2
Wall        6
dtype: int64

In [415]:
# Drop variables with overwhelming numbers
df = df.drop(['Utilities','Heating','TotalBsmtSF','BsmtFinSF2'],axis = 1)

In [417]:
index2 = []
ind2 = []
for i in range(0,len(df.dtypes[df.dtypes == 'object'].index)):
    if df.describe(include=['object']).iloc[1,i] > 5:
        index2.append(list(df)[i])
        ind2.append(i)

index2

['MSSubClass',
 'LandContour',
 'LotConfig',
 'LandSlope',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'RoofStyle',
 'MasVnrType',
 'MasVnrArea',
 'Foundation',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinSF1',
 'BsmtFinType2',
 'HeatingQC',
 'CentralAir']

In [419]:
for i in index2:
    class_counts = df.groupby(i).size()
    index = class_counts[class_counts<100].index
    for j in index:
        df[i].replace(j,'Other',inplace = True)

## Encode Dummy Variables

In [420]:
# Create new dataframe with dummy features
df = pd.get_dummies(df, columns = df.dtypes[df.dtypes == 'object'].index)

## Drop Unused variables

In [421]:
# Drop 'tx_year' and 'year_built' from the dataset
df = df.drop(['YearBuilt', 'LotFrontage'], axis=1)

In [422]:
df.shape

(2919, 267)

In [425]:
df1 = df.iloc[:1460,]
df1.shape

(1460, 267)

In [427]:
df2 = df.iloc[1460:,]
df2.shape

(1459, 267)

In [428]:
# Save analytical base table
df1.to_csv('analytic_dataset.csv', index=None)
df2.to_csv('analytic_dataset_test.csv', index=None)